.page-header {
    background-color: rgb(74, 187, 125);
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: rgb(255, 255, 255);
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Source Code Pro', monospace;
}
.about-me h2{
    color: rgb(75, 117, 255);
    font-family: 'Oswald', sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2, .post h2 a, .post h2 a:visited {
    font-family: 'Oswald', sans-serif;
    color: rgb(75, 117, 255);;
}
.picture{
    padding-top: 100px;
    padding-left: 600px;
}
.list{
    color: #000000;
}
.about-me{
    float: right;
}
    
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.pic{
    padding-top: 50px;
    padding-left:50px;
    padding-bottom: 75px;
}